*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Smythe, Arial, Helvetica, sans-serif;
}

h1{
    margin: 0;
    font-size: 39px;
}

header p{
    font-size: 22px;
}

header{
    background-image: url(ferks-unsplash\ 1.png);
    background-repeat: no-repeat;
    color: #fff;
    padding: 20px;
}

.card-item{
    margin: 10px 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d2d2d2;
}

.card-item span{
    width: 100px;
    font-size: 80px;
    margin-right: 20px;
}

.card-item button{
    margin-left: auto;
    width: 35px;
    height: 35px;
    border: 1px solid #d2d2d2;
    border-radius: 50%;


}

.orders{
    display: none;
    margin: 0 20px;
    border: 1px salmon solid;
} 

.total{
    margin-left:25px;
}

.orders h2{
    text-align: center;
}

.order-list{
    
    border-bottom: 2px solid black;
    margin: 5px 20px;
}

.order-list ul{
    list-style: none;
    padding: 0;
}

.order-list li{
    /* padding-left:0 ; */
    padding: 10px;
    display: flex;
    align-items: center;
}

.order-list button{
    border: 1px solid;
    border-radius:10px ;
    margin-left: 5px;
    /* color: #d2d2d2; */
}

.order-list span{
    margin-left: auto;
}
