*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Smythe, Arial, Helvetica, sans-serif;
}

h1{
    margin: 0;
    font-size: 2.438rem;
}

header p{
    margin: 10px 0;
    font-size: 1.375rem;
}

header{
    background-image: url(ferks-unsplash\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding:10px;
}

header div{
    margin:0 10px;
}

.card-item{
    width: 90%;
    margin: 0.625em 1.25em;
    padding: 0.3125em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d2d2d2;
}

.card-item div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.card-item span{
    width: 100px;
    font-size: 5rem;
    margin-right: 20px;
}

.card-item button{
    margin-left: auto;
    width: 35px;
    height: 35px;
    border: 1px solid #d2d2d2;
    border-radius: 50%;


}

.orders{
    display: none;
    margin: 0 20px;
} 

.total{
    margin-left:25px;
}

.orders h2{
    text-align: center;
}

.order-list{
    
    border-bottom: 2px solid black;
    margin: 5px 20px;
}

.order-list div{
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 0 5px;
}

.order-list li{
    padding: 10px;
    display: flex;
    align-items: center;
}

.order-list button{
    border: 1px solid;
    border-radius:10px ;
    margin-left: 5px;
}

.order-list span{
    margin-left: auto;
}
